.error {
    color:white;
    background-color: red;
}

.matched-csv-header{
    color: green;
    background-color: lightgreen;
}

.unmatched-csv-header{
    color: red;
    background-color: lightcoral;
    cursor: pointer;
}

.unmatched-csv-header:hover{
    color: white;
    background-color: red;
}

.selected-header{
    background-color: darkcyan
}

.custom-file-upload {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.custom-file-upload:hover {
    background-color: #45a049;
}

.tableCell {
    border: 1px solid #999;
    padding: 0.5rem;
  }

.unmatched-acceptable-fields{
    cursor:pointer;
}